<section>
  <h3>About Me</h3>
  <p>I am a current student at the <a href="http://flatironschool.com/" target="_blank">Flatiron School</a> in the New York City Web Development Fellowship program. I'm learning full-stack Ruby development and am loving every minute of it.</p>
  <p>In addition to being a developer, I am a writer, artist, and explorer. I love the outdoors and would rather play video games than watch TV any day. Robots are wonderful. Rock climbing is awesome. In past lives I spent time as a journalist, and running trade shows for Samsung.</p>
  <p>I grew up in New York City, but ran away to upstate for college, where I went to Cornell University. I had the fantastic experience of studying abroad at the University of Queensland, in Brisbane, Australia.</p>
  <p>I love adventure, travel, and trying new things. Here are some other places you can find out more about me:</p>
  <ul>
    <li>Twitter: <a href="https://twitter.com/opheliasdaisies">@opheliasdaisies</a></li>
    <li>Github: <a href="https://github.com/opheliasdaisies">opheliasdaisies</a></li>
</section>