<section>
  <div class="about">
    <h3>About Me</h3>
    <p>I've always been a bit of a geek. I'd rather buy video games over clothes, took a course in video games while getting a Communication degree at Cornell, and ran a video game study the following year. I'm a regular at my local comic book store and makes a tradition of going to New York Comic Con. Board games and trivia nights are pretty regular, and I've put together more than one robotics project.</p>
    <p>In 2010 I began working in marketing, and repeatedly found myself in roles with strong technical components. I was consistently the most technical person on my team (and the nerdiest). After managing the development of an iPad application, I realized I wanted to start creating technology, not just using it. I wanted to understand how the digital world was made.</p>
    <p>I began teaching myself programming in 2012, when I left marketing and began working in the Information Systems department at NYU's Stern School of Business. I finally had a schedule that let me explore and develop a passion for code. I took one course through Girl Develop It, then promptly took all the other courses offered in in New York.</p>
    <p>While planning a conference at NYU, I dove into the conference website’s code to update it myself. I loved it. I began putting any spare moments at work towards rebuilding the website, and those were the best moments at work I had ever had. I was hooked.</p>
    <p>Knowing that I wanted to dive deeper into programming, I applid to the first class of the Flatiorn School's Web Development Fellowship in 2013, and was accepted. Thus began the start of 22-weeks amazing weeks of learning and coding, with a focus on full-stack Ruby. I loved every minute of it.</p>

    <p>Here are some other places you can find out more about me:</p>
    <ul>
      <li>Twitter: <a href="https://twitter.com/opheliasdaisies">@opheliasdaisies</a></li>
      <li>Github: <a href="https://github.com/opheliasdaisies">opheliasdaisies</a></li>
    </ul>
  </div>
</section>