<!DOCTYPE html>
<html>
  <head>
    <title>Sara Gorecki</title>
    <link href="styles/normalize.css" type="text/css" rel="stylesheet"/>
    <link href="styles/style.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <header>
      <h1>Sara Gorecki</h1>
      <h2>Just another adventurer in this crazy thing we call the world.</h2>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About me</a>
        <a href="/projects">My Projects</a>
        <a href="http://mykindofgeek.com" target="_blank">My Blog</a>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>