<!DOCTYPE html>
<html>
  <head>
    <title>Sara Gorecki</title>
    <link href='http://fonts.googleapis.com/css?family=New+Rocker' rel='stylesheet' type='text/css'>
    <link href="styles/normalize.css" type="text/css" rel="stylesheet"/>
    <link href="styles/style.css" type="text/css" rel="stylesheet"/>
  </head>
  <body <%= @page %>>
    <div class="wrapper">
      <h1 class="title">Sara<br>Gorecki</h1>
      <img class="photo" src="/images/sepia.png">
      <ul class="nav">
        <li><a class="about" href="/">Home</a></li>
        <li><a class="projects" href="/projects">My Projects</a></li>
        <li><a href="/SaraGoreckiResume.pdf" target="_blank">Resume</a></li>
        <li><a href="http://mykindofgeek.com" target="_blank">My Blog</a></li>
      </ul>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>