<!DOCTYPE html>
<html>
  <head>
    <title>Sara Gorecki</title>
    <link href='http://fonts.googleapis.com/css?family=New+Rocker' rel='stylesheet' type='text/css'>
    <link href="styles/normalize.css" type="text/css" rel="stylesheet"/>
    <link href="styles/style.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <h1 class="title">Sara<br>Gorecki</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/projects">My Projects</a>
      <a href="/writing">Writings by Me</a>
      <a href="http://mykindofgeek.com" target="_blank">My Blog</a>
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>