<section>
  <h3>My Projects</h3>

  <div class="project">
    <div class="name"><a href="http://are-you-still-sad.herokuapp.com/compliments" target="_blank">Are You Still Sad? Emergency Compliments.</a></div>
    <p class="description">Feeling glum? What better than cats, men, and compliments to cheer you up? Built with Ruby on Sinatra.<br>Check it out on <a href="https://github.com/opheliasdaisies/emergency_compliment">GitHub!</a></p>
  </div>

  <div class="project">
    <div class="name"><a href="https://github.com/opheliasdaisies/tri-color-led" target="_blank">Tri-Color LED</a></div>
    <p class="description">A tri-color LED that changes colors when you squeeze a pressure sensor. Built with Node JS and Johnny-Five, with Arduino.</p>
  </div>

</section>