<section>
  <h3>My Projects</h3>

  <div class="project first">
    <div class="name">Meeting Spot</div>
    <a href="http://socialradius.herokuapp.com/" target="_blank">Project Page</a>
    <a href="https://github.com/opheliasdaisies/Meeting_Spot" target="_blank">GitHub!</a>
    <p class="description">A Rails web application that suggests places to meet based on travel time.</p>
    <ul class="description">
      <li>Leveraged the Google Maps API to calculate a center point by public transit travel time.</li>
      <li>Employed the Google Places API to recommend central restaurants, bars, and cafes to meet at.</li>
      <li>Utilized closures and timeouts to work around Google API limits when requesting directions.</li>
    </ul>
  </div>

  <div class="project">
    <div class="name">Spider Solitaire</div>
    <a href="http://spider-solitaire.herokuapp.com/" target="_blank">Project Page</a>
    <a href="https://github.com/opheliasdaisies/trebek" target="_blank">GitHub!</a>
    <p class="description">A client-side web application utilizing the JQuery library with a Sinatra backend.</p>
    <ul class="description">
      <li>Tracked states of cards to determine validity of attempted moves.</li>
      <li>Maintained a score based on number of moves and sets completed.</li>
    </ul>
  </div>

  <div class="project">
    <div class="name">The Game of Life</div>
    <a href="http://the-game-of-life.herokuapp.com/" target="_blank">Project Page</a>
    <a href="https://github.com/opheliasdaisies/game_of_life_sinatra" target="_blank">GitHub!</a>
    <p class="description">A Sinatra web application with an AngularJS front-end to display the Game of Life.</p>
    <ul class="description">
      <li>Calculated moves of the game in Sinatra to be sent in batches to be rendered in Angular.</li>
      <li>Implemented AJAX requests to maintain a queue of moves to be rendered sequentially client-side.</li>
      <li>Leveraged sessions to store the game board in Sinatra and remove the need for post requests.</li>
    </ul>
  </div>

  <div class="project">
    <div class="name">Are You Still Sad? Emergency Compliments.</div>
    <a href="http://are-you-still-sad.herokuapp.com/compliments" target="_blank">Project Page</a>
    <a href="https://github.com/opheliasdaisies/emergency_compliment" target="_blank">GitHub!</a>
    <p class="description">Feeling glum? What better than cats, men, and compliments to cheer you up? Built with Ruby on Sinatra.</p>
  </div>

  <div class="project">
    <div class="name">What Alien are You?</div>
    <a href="http://alienquiz.herokuapp.com/" target="_blank">Project Page</a>
    <a href="https://github.com/opheliasdaisies/what_alien" target="_blank">GitHub!</a>
    <p class="description">A fun, silly quiz. Find out what kind of alien you are!</p>
  </div>

  <div class="project">
    <div class="name">Playlister</div>
    <a href="https://github.com/opheliasdaisies/sinatra_playlister" target="_blank">GitHub!</a>
    <p class="description">A playlister app which looks up a selection of artists, genres, and songs.</p>
  </div>

  <div class="project">
    <div class="name">Rock, Paper, Scissor</div>
    <a href="https://github.com/opheliasdaisies/rock_paper_scissor" target="_blank">GitHub!</a>
    <p class="description">The classic fight of rock, paper, scissor. Who will win? Built in Ruby.</p>
  </div>

  <div class="project">
    <div class="name">Class Directory</div>
    <a href="https://github.com/opheliasdaisies/command_line_classmates" target="_blank">GitHub!</a>
    <p class="description">A command-line Ruby app to scrape the class website and launch blogs and twitter pages for classmates.</p>
  </div>

  <div class="project">
    <div class="name">Tic-Tac-Toe</div>
    <a href="https://github.com/opheliasdaisies/Tic-Tac-Toe" target="_blank">GitHub!</a>
    <p class="description">Tic-tac-toe, played in the console. Built in Javascript.</p>
  </div>

  <div class="project">
    <div class="name">Tri-Color LED</div>
    <a href="https://github.com/opheliasdaisies/tri-color-led" target="_blank">GitHub!</a>
    <p class="description">A tri-color LED that changes colors when you squeeze a pressure sensor. Built with Node JS and Johnny-Five, with Arduino.</p>
  </div>

</section>
