<section>
  <h3>Published Writings</h3>

  <ul>
    <li class="org">United Press International</li>
    <li><a href="http://www.upi.com/Business_News/Security-Industry/2006/07/07/Analysis-Health-care-crisis-in-Palestine/UPI-96351152255420/" target="_blank">Analysis: Health care crisis in Palestine</a></li>
    <li><a href="http://www.upi.com/Health_News/2006/07/24/Treatment-options-for-osteoporosis/UPI-22581153760131/" target="_blank">Treatment options for osteoporosis</a></li>
    <li><a href="http://www.upi.com/Health_News/2006/07/27/Counterfeit-drugs-are-a-growing-concern/UPI-75731154028053/" target="_blank">Counterfeit drugs are a growing concern</a></li>
    <li><a href="http://www.upi.com/Health_News/2006/06/20/Tree-bark-extract-may-help-ADHD/UPI-68591150828088/" target="_blank">Tree-bark extract may help ADHD</a></li>
    <li><a href="http://www.upi.com/Science_News/2006/07/13/The-case-for-heating-up-a-chip-race/UPI-38531152828261/" target="_blank">The case for heating up a chip race</a></li>
    <li class="name"><a href="http://www.upi.com/Health_News/2006/07/20/Food-industry-uses-Internet-to-reach-kids/UPI-54401153412673/" target="_blank">Food industry uses Internet to reach kids</a></li>
  </ul>

  <ul>
    <li class="org">Cornell Chronicle</li>
    <li class="name"><a href="http://www.news.cornell.edu/stories/2007/12/symposium-looks-developing-biofuel-research" target="_blank">Developing biofuels in a sustainable way is essential for U.S. economy, note researchers at Cornell symposium</a></li>
    <li class="name"><a href="http://www.news.cornell.edu/stories/2008/02/student-think-tank-drafts-public-policy-submit-legislators" target="_blank">CU student think tank drafts public policy to submit to legislators</a></li>
    <li class="name"><a href="http://www.news.cornell.edu/stories/2008/02/hot-potatoes-spark-excitement-chemistry-among-fourth-graders" target="_blank">Hot potatoes spark excitement for chemistry among area fourth-graders</a></li>
  </ul>

  <ul>
    <li class="org">Cornell Daily Sun</li>
    <li class="name"><a href="http://cornellsun.com/blog/2006/04/13/undergrad-publishes-work-on-breast-cancer-tumors/" target="_blank">Undergrad Publishes Work on Breast Cancer Tumors</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2006/03/28/rape-victims-speak-out-against-stigma/" target="_blank">Rape Victims Speak Out Against Stigma</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2006/03/16/mentally-ill-imprisoned-more-often/" target="_blank">Mentally Ill Imprisoned More Often</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2006/03/14/students-travel-to-new-orleans-to-volunteer/" target="_blank">Students Travel to New Orleans to Volunteer</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2006/03/08/panelists-say-brain-drain-is-global-problem/" target="_blank">Panelists Say Brain Drain Is Global Problem</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2007/02/13/clinic-aids-uninsured/" target="_blank">Clinic Aids Uninsured</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2006/05/04/wilderness-program-to-include-upperclassmen/" target="_blank">Wilderness Program to Include Upperclassmen</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2006/02/26/prof-clarifies-gender-gap-in-video-gaming/" target="_blank">Prof Clarifies Gender Gap in Video Gaming</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2006/10/25/cornell-to-offer-class-on-revitalizing-earth/" target="_blank">Cornell to Offer Class On Revitalizing Earth</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2006/03/09/council-plans-ctown-future/" target="_blank">Council Plans C-Town Future</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2006/11/03/gannett-prepares-flu-inoculation/" target="_blank">Gannett Prepares Flu Inoculation</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2007/02/19/cu-serves-up-iron-chef/" target="_blank">C.U. Serves Up Iron Chef</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2005/11/15/malkin-slams-liberals/" target="_blank">Malkin Slams Liberals</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2007/02/01/becker-pushes-sustainability/" target="_blank">Becker Pushes Sustainability</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2005/11/14/silverman-presents-music-of-holocaust/" target="_blank">Silverman Presents ‘Music of Holocaust’</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2005/11/10/feminist-compares-pornography-meat/" target="_blank">Feminist Compares Pornography, Meat</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2006/09/14/cu-students-upset-at-facebook/" target="_blank">C.U. Students Upset at Facebook</a></li>
    <li class="name"><a href="http://cornellsun.com/blog/2005/09/25/journalists-talk-ethics-at-ic/" target="_blank">Journalists Talk Ethics at I.C.</a></li>
  </ul>

</section>

