/* Color List
FDCD09
B89F37
9D7E03
FEE062
FEEEA9
*/

body {
  /*background-image: url(/images/background.png);*/
  background-color: #FDCD09;
}

.wrapper {
  width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 20px;
}

.title {
  font-family: 'New Rocker', cursive;
  color: #9D7E03;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     2px 2px 0 #000;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 20px;

  /* Safari */
  -webkit-transform: rotate(-15deg);
  /* Firefox */
  -moz-transform: rotate(-15deg);
  /* IE */
  -ms-transform: rotate(-15deg);
  /* Opera */
  -o-transform: rotate(-15deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.photo {
  position: relative;
  left: 500px;

  -webkit-box-shadow: 0px 0px 22px 5px rgba(68, 39, 12, 1);
  -moz-box-shadow:    0px 0px 22px 5px rgba(68, 39, 12, 1);
  box-shadow:         0px 0px 22px 5px rgba(68, 39, 12, 1);
}

.nav {
  position: absolute;
  top: 0;
  left: 238px;
  border-right: solid #9D7E03 10px;
}

.nav li {
  list-style-type: none;
  /* Safari */
  -webkit-transform: rotate(-15deg);
  /* Firefox */
  -moz-transform: rotate(-15deg);
  /* IE */
  -ms-transform: rotate(-15deg);
  /* Opera */
  -o-transform: rotate(-15deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  border-bottom: #9D7E03 5px solid;
  font-size: 25px;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 20px;
  width: 100%;
}

.nav a:hover {
  background-color: #9D7E03;
}

section {
  background-color: #FEEEA9;
  width: 85%;
  padding: 20px 30px;
  margin: 30px auto;
  border: #FEE062 10px solid;

  -webkit-box-shadow: 0px 0px 11px 2px rgba(68, 39, 12, 1);
  -moz-box-shadow:    0px 0px 11px 2px rgba(68, 39, 12, 1);
  box-shadow:         0px 0px 11px 2px rgba(68, 39, 12, 1);
}

/*
header {
  width: 90%;
  background-color: white;
  margin: 30px auto;
  padding: 10px;
  border: 5px solid black;
}

main {
  background-color: white;
  width: 90%;
  margin: 30px auto;
  padding: 10px;
  border: 5px solid black;
}

nav {
  background-color: black;
  width: 100%;
  padding: 3px;
}

nav a {
  text-decoration: none;
  padding:0 20px;
  color: white;
  margin: 0 7%;
}

nav a:hover {
  background-color: white;
  color: black;
}

h1{
  margin: 15px;
}

h2 {
  margin: 15px;
  font-weight: normal;
  font-size: 20px;
  position: absolute;
  left: 300px;
  top: 57px;
}

.home_photo{
  margin: 10px 20px 10px 10px;
  float: left;
  clear: both;
  border: 1px solid black;
}

.writing li {
  padding: 5px;
}

.writing li a {
  color: black;
  padding: 5px;
  text-decoration: none
}

.writing li a:hover {
  background-color: black;
  color: white;
  text-decoration: none
}

.writing li:first-child {
  list-style-type: none;
  padding: 3px;
  margin: 5px;
  font-weight: bold;
  background-color: black;
  color: white;
  position: relative;
  right: 20px;
}

.project {
  margin: 20px;
}

.project .name {
  background-color: black;
  color: white;
  padding: 4px;
}

.project .name a {
  color: white;
  text-decoration: none
}

.project .description a {
  color: black;
  text-decoration: none;
}

.project a:hover {
  text-decoration: underline;
}

.project .name a:hover {
  color: white;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}

.clearfix {
    zoom:1;
}

.about ul{
  position: relative;
  left: 50px;
}*/