/* Color List
FDCD09
B89F37
9D7E03
FEE062
FEEEA9
*/

body {
  background-color: #FDCD09;
}

.wrapper {
  width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 20px;
}

.title {
  font-family: 'New Rocker', cursive;
  color: #9D7E03;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     2px 2px 0 #000;
  font-size: 50px;
  position: absolute;
  top: 0;
  left: 20px;
  letter-spacing: 0.15em;

  /* Safari */
  -webkit-transform: rotate(-15deg);
  /* Firefox */
  -moz-transform: rotate(-15deg);
  /* IE */
  -ms-transform: rotate(-15deg);
  /* Opera */
  -o-transform: rotate(-15deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.photo {
  position: relative;
  left: 500px;
  z-index: 1;

  -webkit-box-shadow: 0px 0px 22px 5px rgba(68, 39, 12, 1);
  -moz-box-shadow:    0px 0px 22px 5px rgba(68, 39, 12, 1);
  box-shadow:         0px 0px 22px 5px rgba(68, 39, 12, 1);
}

.nav {
  position: absolute;
  top: -16px;
  left: 277px;
  border-right: solid #9D7E03 10px;
}

.nav li {
  list-style-type: none;
  /* Safari */
  -webkit-transform: rotate(-15deg);
  /* Firefox */
  -moz-transform: rotate(-15deg);
  /* IE */
  -ms-transform: rotate(-15deg);
  /* Opera */
  -o-transform: rotate(-15deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  border-bottom: #9D7E03 5px solid;
  font-size: 25px;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 20px;
  width: 100%;
}

.nav a:hover {
  background-color: #9D7E03;
}

section {
  background-color: #FEEEA9;
  width: 85%;
  padding: 20px 30px;
  margin: 30px auto;
  border: #FEE062 10px solid;

  -webkit-box-shadow: 0px 0px 11px 2px rgba(68, 39, 12, 1);
  -moz-box-shadow:    0px 0px 11px 2px rgba(68, 39, 12, 1);
  box-shadow:         0px 0px 11px 2px rgba(68, 39, 12, 1);
}

section h3 {
  font-family: 'New Rocker', cursive;
  color: #9D7E03;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  font-size: 30px;
  text-align: center;
  margin: 10px 0 25px;
  letter-spacing: 0.15em;
}

.project {
  border-top: #FEE062 5px solid;
  padding: 15px;
  -webkit-box-shadow: 0px -2px 0px 0px rgba(184, 159, 55, 1), 0px -7px 0px 0px rgba(254, 224, 98, 1);
  -moz-box-shadow:    0px -2px 0px 0px rgba(184, 159, 55, 1), 0px -7px 0px 0px rgba(254, 224, 98, 1);
  box-shadow:         0px -2px 0px 0px rgba(184, 159, 55, 1), 0px -7px 0px 0px rgba(254, 224, 98, 1);
}

.first {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;
}

section a {
  color: #341BAF;
}

section a:hover {
  color: #816CE9;
}

.project .name {
  font-weight: bolder;
  font-size: 1.2em;
}

.project a {
  margin-right: 30px;
}

.about .nav .about, .projects .nav .projects {
  background-color: #9D7E03;
}